.creations-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.creations-title h2{
    font-family: var(--secundary-font);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
}

.creations-title button{
    padding: .4rem 2rem;
    cursor: pointer;

    background-color: white;
    color: var(--black);
    outline-color: var(--primary-color);
    border-radius: 3px;

    font-weight: 300;
    letter-spacing: 2px;
}

.creations-title button:hover{
    transition: .3s;
    background-color: rgb(235, 232, 232);
}

.creations{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
    justify-content: space-between;
    row-gap: 2rem;

    padding-bottom: 8rem;
}

@media screen and (max-width: 890px) {
    .creations{
        grid-template-columns: repeat(2, auto);
        justify-content: space-evenly;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .creations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}