.banner{
    height: 70vh;
    background: center top / cover url('../../../public/images/stock-photo-teenage-boy-headset-playing-racing.jpg');
}

.banner .title{
    display: flex;
    height: calc(70vh - 68px);
    align-items: center;
}

.banner .title h1{
    width: 50%;
    font-size: 4rem;
    padding: 2rem;
    margin: 0;

    /* transform: translate(0, 50%); */

    font-family: var(--secundary-font);
    text-transform: uppercase;
    font-weight: 300;

    color: var(--white);
    border: 3px solid var(--white);
}


@media screen and (max-width: 890px) {
    .banner .title h1{
        width: 70%;
        font-size: 3.2rem;
    }
}